{% load i18n %}{% autoescape off %}

Дорогой пользователь, {{ owner }} обновил свой курс {{ course }} и вы можете взлянуть
на новые материалы этого курса
http://127.0.0.1:8000/api/course/{{ id_course }}/

Мы рады всегда сообщать вам об обновлениях на нашей платформе!

Если для вас это больше не актуально вы можете отписаться от рассылки обновлений этого курса:
http://127.0.0.1:8000/{% url 'courses:subscribe' pk=id_course %}

Спасибо, всегда с вами наша команда REST_FRAMEWORK

{% endautoescape %}
